name: Lint Go codes

on:
  push:
    paths:
      - '**.go'
      - 'go.mod'
      - 'go.sum'
    branches:
      - '*'
    tags-ignore:
      - '*'
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run linters
        uses: golangci/golangci-lint-action@v6
        with:
            args: --timeout 3m --issues-exit-code 0 --skip-files '.*_test.go'
